#head {
    background-color: lightgray;
    font-size: 15px;
    font-family: monospace;
    text-align: center;
    padding: 10px;
    color: rgb(27, 19, 19); 
}

#galery{

    background-color: lightgray;
    padding-left: 20px;
    display: flex;
    flex-direction: row; 
}

#sator{
    background-color: lightgray;
    font-size: 15px;
    font-family: monospace;
    text-align: center;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: right;
}